html {
  background-color: $color-tertiary;
}

body {
  background-color: $color-background;

  @media screen and (min-width: $lap-start) {
    font-size: $size-delta;
  }

  @media screen and (min-width: $wall-start) {
    font-size: $size-gamma;
  }
}

.is-hidden {
  @include hidden-text();
}

.site-content {
  padding-bottom: $base-spacing-unit * 2;
  padding-top: $base-spacing-unit * 2;
}

.global-wrapper {
  @extend %cf;

  margin: 0 auto;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;

  @media screen and (min-width: $lap-start) {
    padding-left: $base-spacing-unit * 2;
    padding-right: $base-spacing-unit * 2;
  }

  @media screen and (min-width: $desk-start) {
    padding-left: $base-spacing-unit * 3;
    padding-right: $base-spacing-unit * 3;
  }
}

.legal {
  font-size: em($size-zeta, $base-font-size);
  margin-bottom: 0;
  text-align: center;
}

.type-post,
.post {
  max-width: em(640px, $base-font-size);
  margin: 0 auto;
}

.post-header {
  margin-bottom: 60px;
}

.preview-header {
  margin-bottom: 10px;
}

.page-title,
.post-title {
  margin-bottom: 40px;
  text-align: center;
}

.preview-title {
  margin-bottom: $half-spacing-unit;
}

.post-author {
  display: none;
}

.post-meta,
.preview-meta {
  color: tint($color-primary, 10%);
  font-size: $size-zeta;
}

.post-meta {
  font-size: $size-zeta;
  margin-bottom: 40px;
  text-align: center;
}

.post-sub-title,
.post-excerpt {
  font-family: $font-secondary;
  font-size: $size-epsilon;
}

.post-excerpt {
  color: $color-primary;
}

.post-sub-title {
  text-align: center;

  &:after {
    border-bottom: 1px solid tint($color-primary, 75%);
    content: '';
    display: block;
    margin: 30px auto 0;
    width: 100px;
  }

  @media screen and (min-width: $wall-start) {
    font-size: $size-delta;

    &:after {
      width: 130px;
    }
  }
}

.entry-content:after {
  border-bottom: 1px solid tint($color-primary, 75%);
  content: '';
  display: block;
  margin: 60px auto 0;
  width: 160px;
}

.preview-list {
  @extend %unstyled-list;

  max-width: em(640px, $base-font-size);
  margin: 0 auto 80px;
}

.post-preview {
  margin-bottom: 40px;
}

.post-pagination {
  @extend %cf;

  @include grid-column(8);
  @include grid-shift(2);

  font-family: $font-secondary;
  margin-top: 80px;
  font-weight: 600;
  font-size: 22px;

  .prev {
    @include grid-column(2 of 8);
  }

  .next {
    @include grid-column(2 of 8);
    text-align: right;
  }

  .home {
    @include grid-column(4 of 8);

    text-align: center;
  }
}

.contact-form {
  font-family: $font-secondary;
  font-size: $size-epsilon;
  @include grid-container;
  @include grid-collapse;

  @include grid-media($neat-grid-lap) {
    @include grid-collapse;
  }

  @include grid-media($neat-grid-desk) {
    @include grid-collapse;
  }

  .form-fields {
    @extend %cf;
  }

  @media screen and (max-width: $lap-end) {
    clear: both;
  }

  form {
    background-color: shade($color-background, 1%);
    border: 1px solid $color-bg-tinted;
    padding: $base-spacing-unit * 2;

    @include grid-column(12);

    @include grid-media($neat-grid-lap) {
      @include grid-column(10);
      @include grid-shift(1);
    }

    @include grid-media($neat-grid-desk) {
      @include grid-column(8);
      @include grid-shift(2);
    }
  }

  h3 {
    text-align: center;
    font-size: $size-alpha;
  }

  label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: $size-milli;
    letter-spacing: 0.05em;
  }

  input:not(.submit),
  textarea {
    background-color: tint($color-background, 40%);
    border: 1px solid $color-bg-tinted;

    &:focus {
      background-color: #fff;
      outline: 1px solid $color-tertiary;
      border-color: $color-tertiary;
    }
  }

  .submit {
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: $wall-start) {
    .form-fields {
      @include grid-container;
      @include grid-collapse;
    }

    #foli8,
    #foli3 {
      @include grid-column(3 of 6);
    }

    #foli4 {
      @include grid-column(1 of 1);

      textarea {
        height: 140px;
      }
    }

    .buttons {
      clear: both;
    }
  }
}
