.home {
  background: url(/dist/images/portfolio/DSC06336.jpg) no-repeat center center;
  background-size: cover;

  height: 100vh;
}
/*
.home-intro {
  @media screen and (max-width: $lap-end) {
    margin: 0 auto $base-spacing-unit * 2;
  }

  @include grid-media($neat-grid-desk) {
    @include grid-container;
    @include grid-collapse;

    display: flex;
    align-items: center;

    margin-bottom: $base-spacing-unit * 4;
  }
}

.home-quote {
  @media screen and (min-width: $lap-start) and (max-width: $lap-end) {
    max-width: 640px;
    margin: 0 auto;
  }

  @include grid-media($neat-grid-desk) {
    @include grid-column(8);
  }
}

.home-quote-text {
  font-size: $size-beta;
  font-weight: 400;
  line-height: 1;
  max-width: 640px;

  @media screen and (min-width: $lap-start) {
    font-size: $size-alpha;
  }

  @media screen and (min-width: $desk-start) {
    font-size: $size-kilo;
  }
}

.home-portrait {

  @media screen and (max-width: $lap-end) {
    margin: 0 auto $base-spacing-unit * 2;
  }

  @media screen and (max-width: $palm-end) {
    max-width: 240px;
  }

  @media screen and (min-width: $lap-start) and (max-width: $lap-end) {
    max-width: 320px;
  }

  @include grid-media($neat-grid-desk) {
    @include grid-column(4);
  }

  img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
  }
}
*/
