.featured-projects {
  @include grid-container;
  margin-bottom: $base-spacing-unit * 3;
}

.project-list {
  @extend %cf;
  @extend %unstyled-list;
}

.single-project {
  overflow: hidden;
  position: relative;

  &:hover {
    .project-image {
      filter: blur(1.5px);
      transform: scale(1.015);
    }

    .project-overlay {
      opacity: 1;
    }
  }

  @include grid-media($neat-grid-projects) {
    @include grid-column(1);
  }

  @include grid-media($neat-grid-projects-lap) {
    @include grid-column(1);
  }

  @include grid-media($neat-grid-projects-desk) {
    @include grid-column(1);
  }

  @media screen and (min-width: $desk-start) {
    &:nth-child(4) {
      margin-left: (100 / 3) * 1%;
    }
  }
}

.project-image {
  display: block;
  transition: transform 0.2s ease-in,
              filter 0.2s ease-in;
}

.project-overlay {
  align-items: center;
  background-color: rgba($color-secondary, 0.8);
  border: none !important;
  color: #fff;
  display: flex;
  height: 100%;
  padding: $base-spacing-unit * 2;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.2s ease-in;

  &:hover {
    color: #fff;
  }

  @media screen and (min-width: $wall-start) {
    padding: $base-spacing-unit;
  }
}

.project-details {
  text-align: center;
  width: 100%;
}

.project-heading {
  font-family: $font-secondary;
  font-size: em($size-beta, $base-font-size);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: $base-spacing-unit * 3;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $wall-start) {
    font-size: em($size-alpha, $base-font-size);
  }
}

.btn--project {
  border-color: #fff;

  &:hover {
    background-color: $color-secondary;
    border-color: #fff;
  }
}
