.site-header {
  border-top: 4px solid $color-tertiary;
}

.site-nav-list {
  @extend %unstyled-list;

  text-align: center;
  font-size: $size-epsilon;
  padding: $half-spacing-unit;

  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  a {
    padding-bottom: 1px;
    color: $color-primary;

    &:hover {
      color: $color-tertiary;
    }

    &:hover {
      border-bottom: 1px solid $color-tertiary;
    }
  }
}

.site-logo {
  display: none;
}
