<section class="featured-projects">
  <ul class="project-list project-list--featured">

    {% for project in site.data.featured-projects %}
    <li class="single-project">
        <img src="{{ site.github.url }}{{ project.preview }}" alt="Preview of {{ project.name }}" class="project-image" />
        <a href="{{ project.url }}" class="project-overlay">
          <div class="project-details">
            <h3 class="project-heading">{{ project.name }}</h3>
            <span class="btn btn--outline btn--project">
              View Site
            </span>
          </div>
        </a>
    </li>
    {% endfor %}

  </ul>
</section>
