<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include site-header.html %}

    <main role="main" class="site-content">

      <div class="global-wrapper">

        <article class="content">

          <header class="page-header">
            <h1 class="page-title">{{ page.title | escape }}</h1>
            <p>Select images available for purchase, straight from my hands to your home. All images are printed in my studio using Canon's latest dye inks on pro quality paper, signed, and then packaged in protective tubes. Framed prints are double packed for extra protection.</p>
          </header>

          <ul class="store-list">
            {% assign items = site.store | sort:"order" %}
            {% for item in items %}
              {% if item.draft != true %}
              <li class="store-list__item">

                  <a href="{{ item.url }}" class="store-list__link">
                    <img src="{{ site.github.url }}/dist/images/portfolio/{{ item.preview }}" alt="Preview of {{ item.title }}" class="store-list__image" />
                    <h3 class="store-list__name">{{ item.title }}</h3>
                  </a>

              </li>
              {% endif %}
            {% endfor %}

          </ul>
        </article>

      </div>

    </main>

    {% include footer.html %}

  </body>
</html>
