/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  background-color: #fff;
  color: $color-text;
  font-size: 100%;
  font-family: $font-primary;
  font-weight: 500;
  line-height: $line-height-ratio;
  overflow-y: auto;
  min-height: 100%;
}

body {
  font-size: em($base-font-size, 16px);
}
